body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    color: #333;
    position: relative; /* Ensure absolute positioning of the button */
}

header {
    background-color: #ff6f61;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
    text-align: center;
}

.game {
    margin: 20px auto;
    position: relative;
    display: inline-block;
}

#game-container {
    position: relative;
    width: 300px;
    height: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#cute-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: +0; /* Place image behind buttons */
}

button {
    background-color: #ff6f61;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: transform 0.3s, background-color 0.3s;
    position: absolute;
}

button:hover {
    background-color: #e55e50;
}

button#yes-btn {
    background-color: #4caf50;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

button#no-btn {
    background-color: #ff6f61;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

button#no-btn.moving {
    transition: transform 0.3s;
}

#message {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

#proposal-animation {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#proposal-animation.hidden {
    display: none;
}

#proposal-animation img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.hide-bg{
    mix-blend-mode: multiply;
    filter: contrast(1);
  }